html,
body,
#__next {
  height: 100%;
}

:root {
  --color-exp: #000000;

  /* ナビゲーションバーとサイドバーのサイズ */
  --navbar-height: 56px;
  --sidebar-width: 180px;
  
  --color-font-default: #212925;
  --color-bg-default: #fff;

  --color-main: #42d9d2;
  --color-sub: #f0b48c;
  --color-option: #fff36e;

  --color-font-main: #000;
  --color-font-sub: #fff;
  --color-font-option: #000;

  --color-sunday: #ea73b8;
  --color-saturday: #7ea1f5;

  --color-error: #cc5555;
}

.color-combo-default {
  background-color: var(--color-bg-default) !important;
  color: var(--color-font-default) !important;
}

.color-combo-disabled {
  background-color: #ddd !important;
  color: #fff !important;
}

.color-combo-error {
  color: var(--color-error) !important;
}

.color-combo-main {
  background-color: var(--color-main) !important;
  color: var(--color-font-main) !important;
  border-color: var(--color-main) !important;
}

.color-combo-sub {
  background-color: var(--color-sub) !important;
  color: var(--color-font-sub) !important;
  border-color: var(--color-sub) !important;
}

.color-combo-option {
  background-color: var(--color-option) !important;
  color: var(--color-font-option) !important;
  border-color: var(--color-option) !important;
}

.color-sunday {
  color: var(--color-sunday) !important
}

.color-saturday {
  color: var(--color-saturday) !important
}

.color-combo-sunday {
  background-color: var(--color-sunday) !important;
  color: #fff !important;
}

.color-combo-saturday {
  background-color: var(--color-saturday) !important;
  color: #fff !important;
}

.fs-7 {
  font-size: 0.75rem !important;
}

/* スマホ版で横から出てくるサイドメニューの横幅 */
.offcanvas-size-xl {
  --bs-offcanvas-width: min(95vw, 600px) !important;
}
.offcanvas-size-xxl {
  --bs-offcanvas-width: min(95vw, 90vw) !important;
}
.offcanvas-size-md { /* add Responsivenes to default offcanvas */
  --bs-offcanvas-width: min(95vw, 400px) !important;
}
.offcanvas-size-sm {
  --bs-offcanvas-width: min(95vw, 250px) !important;
}

/* フレキシブル設定追加css */
.pl-sidebar {
  padding-left: var(--sidebar-width);
}

/* sm */
@media (max-width: 575.98px) {
  .pl-sm-sidebar {
    padding-left: 0px;
  }
}

/* md */
@media (max-width: 767.98px) {
  .pl-md-sidebar {
    padding-left: 0px;
  }
}

/* lg */
@media (max-width: 991.98px) {
  .pl-lg-sidebar {
    padding-left: 0px;
  }
}
